# ── App ──────────────────────────────────────────────────────
APP_URL=https://tu-app.railway.app
APP_ENV=production

# ── Database (Railway llena estas automáticamente) ───────────
MYSQLHOST=
MYSQLPORT=3306
MYSQLDATABASE=
MYSQLUSER=
MYSQLPASSWORD=

# ── Mercado Pago ─────────────────────────────────────────────
MP_ENV=sandbox
MP_APP_ID=
MP_CLIENT_ID=
MP_CLIENT_SECRET=
MP_LINK_PAGO=https://link.mercadopago.cl/mercadosordo
MP_COMMISSION=5.0

# ── Khipu ───────────────────────────────────────────────────
KHIPU_RECEIVER_ID=
KHIPU_SECRET=
BANK_COMMISSION=5.0
